:root {
    --primary: #212529;
    --sekundary: #343A40;
}
* {
    outline: red solid 1px;
}
body {
    margin: 0px;
}

header {
    height: 200px;
    background-color: var(--primary);
    margin: auto;
}
#summery{
    width: 100px;
    height: 1000px;
}
#content{
    margin-left: 100px;
    margin-top: -1000px;
    height: 1000px;
    width: 1000xp;
}
#content > iframe{
    height: 1000px;
    width: 1000xp;
}